.list {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

.list__info {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

button {
    margin-bottom: 20px;
    width: 70px;
    height: 30px;
    background-color: black;
    color: #fff;
    margin-left: 50%;
    margin-top: 20px;
    border-radius: 5%;
}

.update__title {
    position: absolute;
    top: 0;
}

.update {
    display: flex;
    justify-content: center;
}

.product__generate-inner {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    flex-wrap: wrap;
}

.product__generate-item {
    width: 170px;
    height: 150px;
    background-color: #eee9e9;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 3%;
}

/* login admin page */
.log_container {
    margin: 150px auto 0;
    width: 280px;
    height: 300px;
    background-color: #904FFF;
    border-radius: 2%;
}